body {
  background: yellow;
  color: rgba(#000, .6);
  font-family: sans-serif;
}

.site {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

section {
  background: rgba(0,0,0, .06);
  padding: 2rem;
  max-width: 600px;
}

canvas {
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
