/////////////////////////////////////////////////
// Import
/////////////////////////////////////////////////

@import "~bulma";

/////////////////////////////////////////////////
// Scss
/////////////////////////////////////////////////

.site {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.view {
  background: rgba(0,0,0, .06);
  padding: 2rem;
  max-width: 600px;
}

.select {
  margin: 1rem;
}
